/*Banner css*/

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #ffffff;
}
.banner_img {
  width: 80%;
}
.banner h1 {
  font-size: 41px;
}
.banner a {
  text-decoration: none;
  font-weight: 500;
}

.banner-btn {
  width: 25%;
}
.arrow_icon {
  font-size: 19px;
  margin-left: 30px;
}
/* Contact Part */
.contact_form {
  padding: 0px 40px;
}
.contact_title {
  letter-spacing: 0.7rem;
  color: royalblue;
}
.form-group input {
  border-radius: 0.25rem;
}
.submit_btn {
  padding: 10px 30px;
}
.contact_left img {
  width: 90%;
  margin-bottom: 70px;
}

/* Upload Image Part */

/* .upload_section {
  background-color: rgba(198, 226, 255, 0.3);
  margin: 0;
  max-width: 100%;
  padding: 8rem 4rem 4rem;
  border-radius: 600px / 100px;
} */

.upload_section {
  background-image: url("../img/upload-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 5rem;
}

.upload-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px auto;
}

ul {
  margin: 0;
}

.dropzone {
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(216, 216, 216, 0.3);
  color: #007aff;
  margin-bottom: 20px;
  width: 95%;
}
.dropzone i {
  font-size: 70px;
  display: block;
}

.upload_sec_add {
  background-color: #d8d8d8;
  border-radius: 20px;
}

/* Footer Part */

.footer_ad {
  background-color: #d8d8d8;
  border-radius: 0.25rem;
  height: 150px;
}
.footer_data li a {
  color: #919aa3;
  text-decoration: none;
  font-weight: 400;
}
/* combine section */
.combine_section {
  /* background: url("../img/tpp3.png");  
    background-size: 100%;
    width: 100%;
    height: 100%;
    resize: both;
    background-repeat: no-repeat; */
  background-color: #f7f8f9;
}

/*design*/
.social_section {
  width: 100%;
}

.social_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(216, 216, 216, 0.3);
  border-radius: 20px;
  padding: 2rem 1rem;
}

.social_links-item {
  /* border: 1px solid red; */
  margin: 5px;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid grey;
  cursor: pointer;
  transition: 0.2s ease;
}

.social_links-item:hover {
  font-weight: bold;
}

.social_links-item:last-of-type {
  border: none;
}

.social_add {
  background-color: #d8d8d8;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  /* flex-grow: 1; */
  align-items: center;
  justify-content: center;
}
.imprt_instr_section {
  background-color: #f3f3f3;
  border-radius: 20px;
  height: 150px;
}
.insta_profile {
  position: relative;
}
.whatsapp_profile {
  position: relative;
}
.profile {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 24px;
  left: 48px;
  border-radius: 50%;
}
.profile2 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 20px;
  left: 18px;
  border-radius: 50%;
}
.profile3 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 142px;
  left: 65px;
  border-radius: 50%;
}
.imp_instr {
  font-weight: 600;
  color: #b5b5b5;
}

/* Crop Part */

.ReactCrop div {
  display: flex;
  justify-content: center;
}

.ReactCrop__image {
  width: 100%;
}
@media (max-width: 1200px) {
  .social_add,
  .upload_sec_add {
    background-color: #d8d8d8;
    height: 200px !important;
    margin-top: 50px;
  }
  .whatsapp_profile {
    margin-top: 64px;
  }
}

.fade-enter {
  opacity: 0;
  transition: opacity 700ms;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.fade-exit {
  opacity: 1;
  transition: opacity 700ms;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}

.instagram_design,
.facebook_design {
  display: flex;
  flex-direction: column;
}

.instagram_design-base1 {
  width: 250px;
}

.instagram_design-base2 {
  width: 280px;
}

.instagram_design-base3 {
  width: 250px;
}

.facebook_design-base2 {
  width: 300px;
}

.facebook_design-base3 {
  width: 300px;
}

.whatsapp_design-base1 {
  width: 350px;
}

.whatsapp_design-base2 {
  width: 345px;
}
.whatsapp_design-base3 {
  width: 320px;
}

.whatsapp_design-base4 {
  width: 320px;
}

.tiktok_design-base1 {
  width: 350px;
}

.tiktok_design-base2 {
  width: 350px;
}

.instagram_design-profile1 {
  position: absolute;
  top: 6px;
  left: 25px;
  border-radius: 50%;
  width: 87px;
  height: 87px;
}

.instagram_design-profile2 {
  position: absolute;
  bottom: 25px;
  left: 5px;
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.instagram_design-profile3 {
  position: absolute;
  bottom: 25px;
  right: 94px;
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.instagram_design-profile4 {
  position: absolute;
  top: 23px;
  left: 23px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.instagram_design-profile5 {
  position: absolute;
  top: 23px;
  left: 23px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.instagram_design-profile6 {
  position: absolute;
  top: 35px;
  left: 60px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.facebook_design-profile1 {
  position: absolute;
  top: 103px;
  left: 103px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.facebook_design-profile2 {
  position: absolute;
  top: 65px;
  left: 67px;
  border-radius: 50%;
  width: 135px;
  height: 135px;
}

.facebook_design-profile3 {
  position: absolute;
  top: 66px;
  left: 46px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.facebook_design-profile4 {
  position: absolute;
  top: 7px;
  left: 28px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.whatsapp_design-profile1 {
  position: absolute;
  top: 20px;
  left: 36px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.whatsapp_design-profile2 {
  position: absolute;
  top: 219px;
  right: 68px;
  border-radius: 50%;
  width: 49px;
  height: 49px;
}

.whatsapp_design-profile3 {
  position: absolute;
  top: 32px;
  left: 14px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.whatsapp_design-profile4 {
  position: absolute;
  top: 160px;
  left: 7px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.whatsapp_design-profile5 {
  position: absolute;
  top: 77px;
  left: -2px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.tiktok_design-profile1 {
  position: absolute;
  top: 43px;
  left: 128px;
  border-radius: 50%;
  width: 95px;
  height: 95px;
}

.tiktok_design-profile2 {
  position: absolute;
  top: 62px;
  left: 130px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.scroll-to-top-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 80px;
  right: 25px;
  border: none;
  outline: none;
  z-index: 1000;
}

.scroll-to-top-btn:focus {
  outline: none !important;
  border: none;
}

@media only screen and (max-width: 600px) {
  .banner-btn {
    width: 100%;
  }

  .image {
    width: 225px;
  }

  .instagram-design,
  .facebook-design,
  .whatsapp-design,
  .tiktok-design {
    overflow: auto;
  }

  .instagram_design-profile1 {
    top: 3px;
    left: 13px;
    width: 45px;
    height: 45px;
  }

  .instagram_design-profile2 {
    top: 16px;
    left: 3px;
    width: 32px;
    height: 32px;
  }

  .instagram_design-profile3 {
    top: 16px;
    right: 49px;
    width: 32px;
    height: 32px;
  }

  .instagram_design-profile4 {
    top: 24px;
    left: 24px;
    width: 32px;
    height: 32px;
  }

  .instagram_design-profile5 {
    top: 26px;
    width: 25px;
    height: 25px;
  }

  .instagram_design-profile6 {
    top: 34px;
    left: 56px;
    width: 130px;
    height: 130px;
  }
}
